html, body {
  font-family: 'Times';
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-shadow: 3px 3px 3px rgb(0, 0, 0, 0.3);
}

body {
  background: linear-gradient(90deg, #2eae3d 0%, #1e7228 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  font-size: 40px;
  font-weight: 500;
}

.computer {
  margin: 50px auto;
  width: 350px;
  height: 190px;
  border: 12px solid #fff;
  border-radius: 17px;
  background-clip: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 30px 30px 50px rgba(0,0,0,0.3);
}

.computer:after, .computer:before {
    position: absolute;
    content: "";
    background: #fff;
}

.computer:before {
  width: 150px;
  height: 20px;
  bottom: -50px;
  left: 50%;
  margin-left: -75px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.computer:after {
    width: 30px;
    height: 50px;
    bottom: -50px;
    left: 50%;
    margin-left: -15px;
}

.control {
  background: #ff123f;
  bottom: -10px;
  width: 6px;
  height: 6px;
  right: 10px;
  position: absolute;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.control:before, .control:after {
  content: '';
  bottom: 0;
  width: 6px;
  height: 6px;
  position: absolute;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.control:before {
  background: #002ade;
  right: 20px;
}

.control:after {
    background: #141636;
    right: 40px;
}

span {
  position: relative;
  width: 250px;
  border-right: 3px solid rgba(255,255,255,.75);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  line-height: 1;
  animation: print 1s steps(13) 2s 1 normal both,
    cursor 800ms infinite normal;
}

@keyframes print {
  from{width: 0;}
  to{width: 212px;}
}

@keyframes cursor {
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}